/* Animation for 404 digits */
@keyframes scroll {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-900%);
  }
}

.animate-scroll {
  animation: scroll 2s forwards;
}

/* Animation for floating background numbers */
@keyframes float {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0.2;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    transform: translateY(-100vh) rotate(360deg);
    opacity: 0;
  }
}